.container-fluid {
    .logo {
        width: 9rem;
        padding-left: 1rem;
        @include tablets {
            width: 150px;
        }
    }
    .fondo {
        grid-area: menu;
        background: #edacdf;
        background: linear-gradient(0deg, #edacdf 0%, #f166cd 50%, #943982 100%);
        .navbar-nav {
            .nav-link {
                font-size: 2.5rem;
            }
        }
    }
}